.grid-item {
    display: block;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
  
  .thumb {
    max-height: 150px;
    max-width: 150px;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 24px;
  }
  
  .beer-desc-container {
    height: 150px;
  }