<div class="row align-items-stretch" 
  infiniteScroll
  (scrolled)="loadMore()">
  <div class="col-xs-12 col-sm-6 col-lg-4" *ngFor="let beer of beers">
      <div class="grid-item" (click)="openModal(beer)">
          <div>
            <img src="{{beer.image_url}}" class="thumb"/>
            <div class="beer-desc-container">
              <h2 class="title">{{beer.name}}</h2>
              <p class="tagline">{{beer.tagline}}</p>
            </div>
          </div>
        </div>
  </div>
</div>