<div #beerDetail>
  <div class="modal-header">
    <button type="button" data-dismiss="modal" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 text-center">
          <img src="{{selectedBeer.image_url}}" alt="{{selectedBeer.name}}" class="thumb"/>
        </div>
        <div class="col-sm-9">
          <h3 class="title">{{selectedBeer.name}}</h3>
          <p class="tagline">{{selectedBeer.tagline}}</p>

          <hr class="special-line"/>

          <div class="data">
            <div><strong>IBU:</strong> {{selectedBeer.ibu}}</div>
            <div><strong>ABV:</strong> {{selectedBeer.abv}}%</div>
            <div><strong>EBC:</strong> {{selectedBeer.ebc}}</div>
          </div>

          <div class="desc">
            <p>{{selectedBeer.description}}</p>

            <strong>Best served with:</strong>
            <ul>
              <li *ngFor="let item of selectedBeer.food_pairing">{{item}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="similar-beers">
      <div class="container">
        <h4>You might also like:</h4>
        <div class="row">
          <div class="beer col-xs-12 col-sm-6 col-lg-4" *ngFor="let beer of similiarBeers">
            <img src="{{beer.image_url}}" alt="{{beer.name}}" class="thumb" [class.loaded]="!imageIsLoading"/>
            <h5 class="name">{{beer.name}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
