.modal-header {
  border-bottom: 0;
}

.thumb {
  max-width: 140px;
  width: 100%;
}

.tagline {
  font-size: 1.2em;
}

.special-line {
  border-top: 6px solid orange;
  width: 100px;
  margin: 20px 0;
}

.data {
  display: flex;

  div {
    margin-right: 15px;
  }
}

.desc {
  margin: 25px 0;
}

.similar-beers {
  margin: 25px 0;
}

.beer {
  border: 1px solid light-gray;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.thumb {
  max-width: 100%;
  width: auto;
  height: auto;

  &.loaded {
    max-height: 150px;
  }
}

.name {
  color: dark-gray;
  font-size: 1em;
  margin-top: 20px;
  height: 3em;
}
