<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;margin:30px auto 70px;">
  <h1>
    <span class="net">NET</span><span class="guru">GURU</span> <span class="beer-database">Beer Database</span>
  </h1>
</div>
<router-outlet></router-outlet>	
<router-outlet name="beer-modal"></router-outlet>
<ngx-spinner
bdColor = "rgba(51,51,51,0)"
size = "default"
color = "#de8c1c"
type = "ball-clip-rotate-multiple"
></ngx-spinner>
